table {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 1px;
}
table.collapsed tr {
	display: none;
}

th {
	background-color: #f8f8fa;
	text-align: center;     
	padding: 5px;
	padding-right: 10px;
	border-bottom: 1px solid black;
}

td {
	padding: 5px;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
}

caption {
	caption-side: top;
	text-align: left;
	font-size: 1.5em;
}

.second {
	padding-left: 10px;
}

.second-time {
	padding-left: 15px;
}

img {
	vertical-align: middle;
}

.with-border {
	border-bottom: 1px solid #ccc;
}
.button {
	display: inline-block;
	width: 24%;
	border-radius: 4px;
	border: 1px solid #959999;
	background-color: #D6D7D7;
	margin-right: 4px;
	text-align: center;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	font-weight: bold;
	margin-bottom: 5px;
}
.button:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #dcdcdc;
}
.active {
	border: 1px solid #34D23F;
	background-color: #95F79C;
}
.active:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #98fb98;
}
